
<div class="container">
    <button class="go-down-btn" (click)="scrollToNextSection()"></button>
    <!-- Background Video Section -->
    <video autoplay muted loop id="background-video">
        <source src="/MyPortfolio/assets/video/3.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <!-- Header Section (Name and Role) -->
    <div class="header">
        <div class="typing-effect text-dark text-shadow-glow">Gyan Prasad Nayak</div>
        <div class="typing-effect text-shadow-glow">
            <span class="text-danger">F</span>ull
            <span class="text-danger">S</span>tack
            <span class="text-danger">S</span>oftware
            <span class="text-danger">D</span>eveloper
        </div>
        <div class="title">
            <i class="bg-secondary">
                "As Long As We Live, There Are Infinite Chances to Win Every Challenge!"
            </i>
        </div>
    </div>

    <div class="welcome-section">
        <button id="welcome-button" class="btn-welcome" (click)="scrollPage()">Welcome</button>
    </div>

    <!-- Main Content (Portfolio) -->
    <div id="experience" class="portfolio-content card">
        <h2>EXPERIENCE</h2>
        <hr>
        <p>CSM Technologies Private Limited, Bhubaneswar</p>
        <p>Dec 2022 - Present</p>
        <p><i>Full Stack Angular-Java Developer</i></p>
        <!-- Fixed Image (iPhone) -->
        <div class="right-sec sticky-top">
            <img src="/MyPortfolio/assets/img/myPhoto.jpg" alt="iPhone" class="iphone-image" />
        </div>

        <ul class="text-dark text-shadow-glow ">
            <li>Throughout my career with CSM Technologies, I have worked on both product and service-oriented projects,
                delivering high-quality solutions to meet client requirements.</li>
            <li>As a Full Stack Developer, I have gained hands-on experience in both frontend and backend technologies,
                including Angular, Java, and RESTful APIs.</li>
            <li>Through industry-standard practices, I have developed a deep understanding of the Software Development
                Life Cycle (SDLC) and have contributed to various stages from requirement gathering to deployment and
                maintenance.</li>
            <li>My expertise includes optimizing code performance, enhancing user interfaces, and implementing secure,
                scalable back-end systems using modern development tools and methodologies.</li>
            <li>I have collaborated closely with cross-functional teams, including designers, product managers, and QA
                engineers, ensuring timely delivery of high-quality software products.</li>
            <li>During my tenure, I have been involved in continuous integration (CI) and continuous deployment (CD)
                processes, ensuring efficient and automated delivery pipelines.</li>
            <li>I actively stay updated with the latest trends in full stack development and constantly adapt to new
                technologies to ensure the best solutions for the projects I work on.</li>
        </ul>

    </div>



    <div class="new-video-section">
        <video autoplay muted loop id="second-background-video">
            <source src="/MyPortfolio/assets/video/2.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="new-content">
            <h2>My Latest Project</h2>
            <p>Here is an overview of the latest project I worked on, showcasing my expertise in full-stack development.
            </p>
            <div class="card2">
                <ul>
                    <li>
                        <strong class=" text-dark">Timber Traceability and Single Window | LOT 2</strong>
                        <hr>
                        <ul class="text-shadow-glow">
                            <li><strong>Location:</strong> Gabon, Africa</li>
                            <li><strong>Objective:</strong> Streamline wood supply processes via a centralized office,
                                the Single Window, managing applications and ensuring legality.</li>
                            <li><strong>Scope:</strong> Develop a digital platform for application submission and
                                verification, integrating tracking mechanisms for wood shipments.</li>
                            <li><strong>Key Features:</strong> Application portal, shipment tracking, database
                                management, reporting tools.</li>
                            <li><strong>Outcomes:</strong> Increased efficiency, transparency, and accountability in the
                                wood supply chain, promoting legality and sustainability.</li>
                            <li><strong>Timeline:</strong> Development and testing (12 months).</li>
                            <li><strong>Stakeholders:</strong> Gabonese government, wood supply companies, environmental
                                organizations.</li>
                            <li><strong>Technologies Used:</strong> <span class="text-danger">Spring, Angular, MySQL,
                                    jQuery, TypeScript, Microservices.</span></li>
                        </ul>
                    </li>
                    <hr>
                    <li>
                        <strong class=" text-dark">MINISTRY OF WATER AND FOREST | LOT 1</strong>
                        <hr>
                        <ul class="text-shadow-glow">
                            <li><strong>Location:</strong> Gabon, Africa</li>
                            <li><strong>Objective:</strong> Digital transformation of existing forest and business
                                operations to ensure sustainable forest management.</li>
                            <li><strong>Scope:</strong> Develop a platform to digitize administrative and technical
                                activities, including shipment tracking and database management.</li>
                            <li><strong>Key Features:</strong> Application portal, shipment tracking, and technical
                                activity tracking.</li>
                            <li><strong>Outcomes:</strong> Increased efficiency, transparency, and accountability in
                                forest business operations, promoting legality and sustainability.</li>
                            <li><strong>Timeline:</strong> Development and testing (5 months - ongoing).</li>
                            <li><strong>Stakeholders:</strong> Gabonese government, Forest Department, environmental
                                organizations.</li>
                            <li><strong>Technologies Used:</strong> <span class="text-danger">Spring Boot, Angular,
                                    PGAdmin 4, TypeScript, Odoo, LCNC (Low-code No-code).</span></li>
                        </ul>
                    </li>
                    <hr>
                    <li>
                        <strong class=" text-dark">Campus Automation System</strong>
                        <hr>
                        <ul class="text-shadow-glow">
                            <li><strong>Location:</strong> Bhubaneswar, Odisha</li>
                            <li><strong>Objective:</strong> Develop an examination portal for new candidates to take
                                assessments as part of the recruitment process.</li>
                            <li><strong>Modules:</strong> HR, Proctor, Candidate, Administration.</li>
                            <li><strong>Technologies Used:</strong> Spring, <span class="text-danger">JSP, JavaScript,
                                    CSS, MySQL, Ajax.</span></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>


    <div class="new-video-section">
        <video autoplay muted loop id="second-background-video">
            <source src="/MyPortfolio/assets/video/1.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <div class="hobbies-section">
            <h2>Hobbies</h2>
            <p>Here are some of my favorite hobbies:</p>
            <ul>
                <li>
                    <h3>🎸 Playing Guitar</h3>
                    <p>I've been playing guitar for several years. It’s a great way for me to relax and express my creativity through music.</p>
                </li>
                <li>
                    <h3>🌍 Traveling</h3>
                    <p>I love exploring new places, learning about different cultures, and discovering the beauty of the world.</p>
                </li>
                <li>
                    <h3>🎮 Playing Games</h3>
                    <p>Gaming is a way to unwind and challenge myself. I enjoy both casual games and competitive ones, especially in the multiplayer genre.</p>
                </li>
            </ul>
        </div>
        

        <div id="contactDiv" class="contact-form mt-5">
            <h2>Contact Us</h2>
            <form (submit)="sendEmail($event)">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" id="name" name="name" required #nameInput />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" required #emailInput />
                        </div>
                    </div>
                    <div class="col-md-12">

                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea id="message" name="message" rows="4" required #messageInput></textarea>
                        </div>
                    </div>
                </div>


                <button type="submit" class="btn-submit">Send</button>
            </form>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-content">
            <h3>Gyan Prasad Nayak</h3>
            <p>Full Stack Angular-Java Developer | Always Learning and Growing</p>
            <ul class="social-icons">
                <li><a href="https://www.linkedin.com/in/gyana-prasad-nayak-a8b08a183/" target="_blank"
                        class="text-light"><i class="fa-brands fa-linkedin fa-bounce"></i> LinkedIn</a></li>
                <li><a href="https://github.com/Mital966" target="_blank" class="text-light"><i
                            class="fa-brands fa-github fa-bounce"></i> GitHub</a></li>
                <li><a href="https://www.instagram.com/gyanaprasad/" target="_blank" class="text-light"><i
                            class="fa-brands fa-square-instagram fa-bounce"></i> Instagram</a></li>
            </ul>
            <p class="footer-note">© {{date}} Gyan Prasad Nayak | All Rights Reserved</p>
        </div>
    </footer>

</div>